<div class="row">
  <div class="col-3">
      <span class="step-links">
        <ul class="pagination" style="margin: 14px">

            {% if answers.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}" style="color: #C71585">Предыдущая</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}" style="color: #C71585">{{ answers.previous_page_number }}</a></li>
            {% endif %}

          <li class="page-item"><a class="page-link" href="?page={{ answers.page_number }}" style="color: #C71585">{{ answers.number }}</a></li>

            {% if answers.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}" style="color: #C71585">{{ answers.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}" style="color: #C71585">Следующая</a></li>
            {% endif %}

        </ul>
      </span>
  </div>
</div>