{% extends "incl/base.html" %}
{% load static %}

{% block content %}
      <div class="col-9">
        <div class="row">
            <div class="col-3">
                <p><h2>Hot questions</h2></p>
            </div>
            <div class="col-6" style="padding-top: 10px">
                <p><h5><a href=".." class="link-secondary">New questions</a></h5></p>
            </div>
        </div>
          {% for question in questions %}
              {% include "incl/single_question.html" %}
          {% endfor %}
      {% include "incl/pagination.html" %}
      </div>
{% endblock content %}
